<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entry</title>
</head>
<body>

            <h1>Title : {{ entry.title }}</h1>
            <p>Body : {{ entry.text }}</p>
            <span>Author : {{ entry.user.username }}</span><br/>
            Tags:
            {%  for tag in entry.tags.all  %}
                 <span style="color: chocolate">{{ tag.name }},</span>
                {% empty %}
                    No tags in this entry.
            {% endfor %}
</body>
</html>