<table cellpadding="10">
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th>User</th>
                <th>Tags</th>
            </tr>
        </thead>
        {% for entry in entries %}
            <tr>
                <td>
                    {{ entry.title  }}
                </td>
                <td>
                    {{ entry.text }}
                </td>
                <td>
                    <a href="{% url "user-specific-entries" entry.user.id %}">
                        {{ entry.user }}
                    </a>
                </td>
                <td>
                    {% for tag in entry.tags.all %}
                        <li>{{ tag.name }}</li>
                        {% empty %}
                            This entry has no tags.
                    {% endfor %}
                </td>
            </tr>
            {% empty %}
                No entries!!!
        {% endfor %}
</table>