<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
</head>
<body>

<div><a href="{% url "create" %}">Add new entry</a> </div>

<h3>{%  if user.is_authenticated %}Welcome,{% endif %} {{ user.username }}</h3>
<ul>
    {% for entry in entries %}
        <li>
            <a href="{% url "specific" entry.id %}"><h1>{{ entry.title }}</h1></a>
            <p>{{ entry.text }}</p>
            <span>Author : {{ entry.user.username }}</span><br/>
            Tags:
            {%  for tag in entry.tags.all  %}
                 <span style="color: chocolate">{{ tag.name }},</span>
                {% empty %}
                    No tags in this entry.
            {% endfor %}
        </li>
        {% empty %}
            <li>Sorry, no entries.</li>
    {% endfor %}
</ul>

</body>
</html>